extends layouts/default

block content
	h4.text-center #{title}
		p.separator
		.col-md-12
			.container
				table.table
					thead
						tr
							th Title
							th Content
							th Date Created
						tbody
							- each article, i in news
								tr
									td= article.title
									td= article.content
									td= article.created
									td
										form(Method="POST", action="/article/#{article._id}")
											input(type='hidden', name='_csrf', value=_csrf)
											.form-group
												input.button.outline.btn-block(type="submit", value="Delete Post")



								