extends ../layouts/default

block content
	.container
		.row
			.col-md-4.col-md-offset-4
				h4.text-center Account 
				p.separator
			.col-md-6.col-md-offset-4
				ul.list-inline.list-unstyled
					li
						a(href="/account/me/editprofile") Profile Info  
					li
						a(href="/account/me/shipping") Shipping Address 
					li
						a(href="/account/me/orders") Orders 
					li
						a(href="/account/me/payment") Payment Methods
	.container
		.row
			.col-md-4.col-md-offset-2
				.spacer-mini
				h5.text-left Profile Info
				hr.line
				form(action="/account/me/editprofile", method='POST')
					input(type='hidden', name='_csrf', value=_csrf)
					.form-group
						input.form-control.form-fix(name='firstname', id='firstname', type='firstname', value='Firstname', required)
					.form-group
						input.form-control.form-fix(name='lastname', id='lastname', type='lastname', value='Lastname', autocomplete='off', required)
					.form-group
						input.form-control.form-fix(name='email', id='email', type='email', value='#{user.email}', autocomplete='off', required)
					.form-group
						input.form-control.form-fix(name='phonenumber', id='phonenumber', type='phonenumber', value='Phone Number', placeholer='Phonenumber',  required)
						.spacer-mini
				h5.text-left Social Info
				hr.line
				.form-group
					input.form-control.form-fix(name='facebook', id='facebook', type='facebook', value='#{user.profile.facebook}', placeholder='Facebook', required)
				.form-group
					input.form-control.form-fix(name='twitter', id='twitter', type='twitter', value='#{user.profile.twitter}', placeholder='Twitter', autocomplete='off')
				.form-group
					input.form-control.form-fix(name='instagram', id='instagram', type='instagram', value='#{user.profile.instagram}', placeholder='Instagram', autocomplete='off')
				.form-group
					input.form-control.form-fix(name='pinterest', id='pinterest', type='pinterest', value='#{user.profile.pinterest}', placeholder='Pinterest', autocomplete='off')
				.form-group
					input.button.outline.btn-block(type="submit", value="Update Profile")
			.col-md-5.col-md-offset-1
				.spacer-mini
				h5.text-left Profile Image
				hr.line
				p Help us make suggestions for your hair selections and hair styles by uploading a picture of yourself
				img.img-rounded(src="#{user.profile.picture}")

				form(action="/profile/images", Method="POST", enctype="multipart/form-data")
					input(type='hidden', name='_csrf', value=_csrf)
					.form-group.form-material.floating
						input#file.form-control(type='file', name='file')
						button.btn.btn-primary.btn-block.btn-lg.margin-top-40(type='submit') upload