extends ../layouts/default

block content
	.container
		.row
			h4.text-center Profile
			p.separator
			.col-md-12.text-center
				h4 profile image: 
				img.img-circle(src="#{user.profile.picture}" alt="N/A")
				p.separator
				h4 your referral code: 
				h4= user._id
				p.text-center
					a.button.outline(href="/account/me/referral") Refer a Friend today! 
				h4 You get $#{user.profile.rewardPerReferralPurchase} for every purchase they make.
				p.separator
				h4 first name:
				h4= user.profile.firstname||"N/A"
				p.separator
				h4 Email:
				h6= user.email ||"N/A"
				p.separator
				p.text-center
					a.button.outline(href="/account/me/request") Request Chest
				p.separator
				h6
					a(href="#") Customer Support
				p.separator
			.col-md-4.text-center
				h4 Number of Orders
				p #{user.profile.orderamount}
			.col-md-4.text-center
				h4 MirHer Credit
				p $3
			.col-md-4.text-center
				h4 Number of Referrals
				p #{user.profile.referrals}
	