extends ../layouts/default

block content
	.container
		.row
			h4.text-center Profile
			p.separator
			.col-md-12.text-center
				img.img-circle(src="#{user.profile.picture}")
				h4= user.profile.firstname
				h6= user.email
				p.text-center
					a.button.outline(href="/account/me/request") Request Chest
				h6
					a(href="#") Customer Support
				p.separator
			.col-md-4.text-center
				h4 Number of Orders
				p #{user.profile.orderamount}
			.col-md-4.text-center
				h4 MirHer Credit
				p $3
			.col-md-4.text-center
				h4 Number of Referrals
				p #{user.profile.referrals}
	