extends ../layouts/default

block content
	h4.text-center Profile
	p.separator
		.container-fluid.equal-height
			.row
				.col-md-4.pad-0.mrg-0.bg-cover(style="background-image: url('http://placehold.it/350x350');")
				.col-md-4.black.text-light.pad-100.text-center
						h4.title.capitalize #{user.profile.firstname} #{user.profile.lastname}
						h5 #{user.email}
						a.button.outline.light.mrg-top-20(href="/account/me/editprofile") Edit Profile
						a.button.outline.light.mrg-top-20(href="/account/me/requestt") Request Chest
						br
						a.button.outline.light.mrg-top-20(href="/look") Discover
				.col-md-4.pad-60.text-center
						h3 Hair Profile
						p.separator
						h6. Age Group: #{user.profile.age}
						h6 Hair Type: #{user.profile.hairtype}
						h6 Hair Health: #{user.profile.hairhealth}/10
						h6 Hair Challenges : #{user.profile.hairchallenges}
						h6 Weave Frequency: #{user.profile.weavefrequency}
						h6 Rate of Purchase: #{user.profile.rateofpurchase}
						h6 Hair Length: #{user.profile.hairlength}
						h6 Hair Texture: #{user.profile.hairtexture}
						h6 Number of Bundles: #{user.profile.numberofbundles}
						h6 Custom Units: #{user.profile.customunits}
						h6 Frontals: #{user.profile.frontals}
						h6 Colors: #{user.profile.colors}
						h6 Products: #{user.profile.products}
		.container-fluid
			.row
				.col-md-12.pad-10.mrg-0
					.portfolio-wrapper
						.portfolio.col-2(data-space='5')
							.item
								a.item-link(href='/look')
									.item-img.overlay.overlay-dark-2x(style="background-image: url('http://www.hairandmakeupideas.com/wp-content/uploads/2015/03/curly-hair-extensions-22.jpg')")
										.overlay.overlay-dark-2x
										.row.text-light.text-center.pad-300
											h3.title.capitalise Explore Looks
											p.separator
										.item-overlay
							.item
								a.item-link(href='/news')
									.item-img(style="background-image: url('http://www.freeindex.co.uk/media/listingpics/616/842/tightkinky3c4a2.jpg')")
										.overlay.overlay-dark-2x
										.row.text-light.text-center.pad-300
											h3.title.capitalise MirHer Blog
											p.separator
										.item-overlay




						